<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @waitlist.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @waitlist.course_id %>
</p>

<%= link_to 'Edit', edit_waitlist_path(@waitlist) , class: 'btn btn-primary' %> |
<%= link_to 'Back', waitlists_path , class: 'btn btn-primary' %>
