<%= form_with(model: instructor) do |form| %>
  <% if instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
        <% instructor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if is_admin?%>
    <div class="field">
      <%= form.label :name %><br />
      <%= form.text_field :name, autofocus: true, value: !instructor.user ?  @username : instructor.user.name , autocomplete: "name" , class:"form-control"%>
    </div>

    <div class="field">
      <%= form.label :email %><br />
      <%= form.email_field :email, value: !instructor.user ? @useremail : instructor.user.email, autocomplete: "email" , class:"form-control"%>
    </div>
  <%end%>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department , class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>


