<style>
.card {
  background-color: #fff;
  border-radius: 4px;
  max-width: 400px;
  height: 100px;
  position: relative;
  padding: 34px;
  color: #444;
  cursor: pointer;
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999999;
  transition: box-shadow 0.2s ease-in-out;
}
.card.level-3:hover:before {
  box-shadow: 0 0 80px #999999;
}
.card h5 {
  font-weight: 300;
  font-size: 30px;
}

</style>
<% if is_instructor? %> 
    <h2>Hello Instructor <%= current_user.name %></h2>

    <%= link_to  courses_path, class: 'card level-3' do%> 
    <h5>All Courses</h5>
    <%end%>

<br/>
    <%= link_to  instructor_courses_path, class: 'card level-3' do%> 
    <h5>My Courses</h5>
    <%end%>
<br/>
    <%= link_to  edit_instructor_path(get_cur_instructor), class: 'card level-3' do%> 
    <h5>Edit Profile</h5>
<%end%>
<br/>
    <%= link_to  instructor_path(get_cur_instructor), class: 'card level-3' do%> 
    <h5>My Profile</h5>
<%end%>


<% elsif is_student? %>
    <h2>Welcome, <%=current_user.name %></h2>
    <p>Following are the actions you are allowed to perform:</p>
    
    <%= link_to  courses_path, class: 'card level-3' do%> 
    <h5>Courses</h5>
    <%end%>
<br/>
    <%= link_to  enrollments_path, class: 'card level-3' do%> 
    <h5>My Enrollments</h5>
    <%end%>
<br/>
    <%= link_to  waitlists_path, class: 'card level-3' do%> 
    <h5>My Waitlists</h5>
    <%end%>
<br/>
    <%= link_to  edit_student_path(get_cur_student), class: 'card level-3' do%> 
    <h5>Edit Profile</h5>
    <%end%>
<br/>
    <%= link_to  student_path(get_cur_student), class: 'card level-3' do%> 
    <h5>My Profile</h5>
    <%end%>

<br/>

<% else %>
    <h1>Hi Admin <%= current_user.name %></h1>
        <%= link_to  courses_path, class: 'card level-3' do%> 
    <h5>Courses</h5>
    <%end%>
<br/>
    <%= link_to  enrollments_path, class: 'card level-3' do%> 
    <h5>Enrollments</h5>
    <%end%>
<br/>
    <%= link_to  waitlists_path, class: 'card level-3' do%> 
    <h5>Waitlists</h5>
    <%end%>
<br/>
    <%= link_to  students_path, class: 'card level-3' do%> 
    <h5>Students</h5>
    <%end%>
<br/>
    <%= link_to  instructors_path, class: 'card level-3' do%> 
    <h5>Instructors</h5>
    <%end%>
<br/>
    <%= link_to  edit_user_registration_path, class: 'card level-3' do%> 
    <h5>Edit Profile</h5>
    <%end%>
<br/>
<% end %>
