<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :weekday_one %>
    <%= form.select :weekday_one, options_for_select(Course.weekday_ones.map {|key, value| [key.titleize, Course.weekday_ones.key(value)]}, @course.weekday_one) , {},{class: "form-control"}%>
  </div>

  <div class="form-group">
    <%= form.label :weekday_two %>
    <%= form.select :weekday_two, options_for_select(Course.weekday_twos.map {|key, value| [key.titleize, Course.weekday_twos.key(value)]}, @course.weekday_two) ,  {include_blank: true}, {class: "form-control"}%>
  </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.text_field :start_time , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <%= form.text_field :end_time , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :course_code %>
    <%= form.text_field :course_code , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :capacity %>
    <%= form.number_field :capacity , class:"form-control"%>
  </div>
  
  <div class="form-group">
    <%= form.label :waitlist_capacity %>
    <%= form.number_field :waitlist_capacity , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :status, hidden: true%>
    <%= form.select :status, options_for_select(Course.statuses.map {|key, value| [key.titleize, Course.statuses.key(value)]}, @course.status) , {}, {include_blank: false, hidden: true, class:"form-control"}%>
  </div>

  <div class="form-group">
    <%= form.label :room %>
    <%= form.text_field :room , class:"form-control"%>
  </div>
  <% if is_admin? %>
  <div class="form-group">
    <%= form.label :instructor_id, "Instructor name" %>
    <%= form.select :instructor_id, options_for_select(Instructor.all.map{|ins| [ins.user.name, ins.id]}) ,{}, {include_blank: false, class:"form-control"}%>
  </div>
  <% end %>
                <br/>
                
  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
