<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<% if !is_student? %>
<%= link_to 'New Course', new_course_path, class: 'btn btn-primary'  %>
<%end%>

<%= link_to 'Back', home_index_path , class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructor name</th>
      <th>Weekday one</th>
      <th>Weekday two</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Course code</th>
      <th>Capacity</th>
      <th>Waitlist Capacity</th>
      <th>Status</th>
      <th>Room</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td ><%= course.name %></td>
        <td><%= course.instructor.user.name %></td>
        <td><%= course.weekday_one %></td>
        <td><%= course.weekday_two %></td>
        <td><%= course.start_time %></td>
        <td><%= course.end_time %></td>
        <td><%= course.course_code %></td>
        <td><%= course.capacity %></td>
        <td><%= course.waitlist_capacity %></td>
        <td>
        <% if course.status == "open"%>
        <span class="btn btn-success btn-sm">Open</span>
        <% elsif course.status == "closed"%>
        <span class="btn btn-danger btn-sm">Closed</span>
        <% elsif course.status == "waitlist"%>
        <span class="btn btn-warning btn-sm">Waitlist</span>
        <% end %>        
        </td>
        <td><%= course.room %></td>
        <td><%= link_to 'Show', course,  class: 'btn btn-secondary btn-sm'%></td>
        <% if is_student? %>
          <%if Enrollment.find_by(:course_id => course.id, :student_id => get_cur_student.id)%>
            <td><%= link_to 'Drop Enrollment', enrollment_path(Enrollment.find_by(:course_id => course.id, :student_id => get_cur_student.id)), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm'%></td>
          <%elsif course.status == "open"%>
            <td><%= link_to 'Enroll', enroll_course_path(course.id), data: { confirm: 'Are you sure?' } , class: 'btn btn-primary btn-sm'%></td>
          <%elsif Waitlist.find_by(:course_id => course.id, :student_id => get_cur_student.id)%>
            <td><%= link_to 'Drop Waitlist', waitlist_path(Waitlist.find_by(:course_id => course.id, :student_id => get_cur_student.id)), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm'%></td>
          <%elsif course.status == "waitlist"%>
            <td><%= link_to 'Waitlist', waitlist_course_path(course.id), data: { confirm: 'Are you sure?' } , class: 'btn btn-primary btn-sm'%></td>
        <%end%>
        
        <% elsif is_instructor? && course.instructor_id == @instructor_id %>
          <td><%= link_to 'Enrolled', enrolled_students_path(course), class: 'btn btn-primary btn-sm'%> </td>
          <td><%= link_to 'Waitlisted', waitlisted_students_path(course), class: 'btn btn-primary btn-sm'%> </td>
          <td><%= link_to 'Edit', edit_course_path(course) , class: 'btn btn-warning btn-sm'%></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm'%></td>
          
        <% elsif is_admin? %>
          <td><%= link_to 'Enrolled', enrolled_students_path(course), class: 'btn btn-primary btn-sm'%> </td>
          <td><%= link_to 'Waitlisted', waitlisted_students_path(course), class: 'btn btn-primary btn-sm'%> </td>
          <td><%= link_to 'Edit', edit_course_path(course) , class: 'btn btn-warning btn-sm'%></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm'%></td>
        <% end %>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

