<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor name:</strong>
  <%= @course.instructor.user.name %>
</p>

<p>
  <strong>Weekday one:</strong>
  <%= @course.weekday_one %>
</p>

<p>
  <strong>Weekday two:</strong>
  <%= @course.weekday_two %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @course.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @course.end_time %>
</p>

<p>
  <strong>Course code:</strong>
  <%= @course.course_code %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @course.capacity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<p>
  <strong>Room:</strong>
  <%= @course.room %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor_id %>
</p>

<%if is_admin? || (is_instructor? && @course.instructor_id == @instructor_id)%>

    <%= link_to 'Enroll Students', show_enroll_course_for_student_path(@course), class: 'btn btn-primary'%> 
    <%= link_to 'Enrolled Students', enrolled_students_path(@course), class: 'btn btn-primary' %> 

    <%= link_to 'Waitlist Students', show_waitlist_course_for_student_path(@course), class: 'btn btn-primary'%> 
    <%= link_to 'Waitlisted Students', waitlisted_students_path(@course) , class: 'btn btn-primary'%> 
    <%= link_to 'Edit', edit_course_path(@course) , class: 'btn btn-primary'%> 
    <%= link_to 'Delete',  @course, method: :delete , class: 'btn btn-danger'%> 
<%end%>

<%= link_to 'Back', courses_path, class: 'btn btn-primary' %>
