<p id="notice"><%= notice %></p>

<h1><% if @course_name %> <%= @course_name %> <%end%> Waitlists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waitlisted_students.each do |waitlisted| %>
      <tr>
        <td><%= waitlisted.student.user.name %></td>
        <td><%= waitlisted.student.user.email %></td>
        <td><%= link_to 'Drop', waitlisted, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Waitlist Students', show_waitlist_course_for_student_path(@course), class: 'btn btn-primary'%> 
<%= link_to 'Back', courses_path , class: 'btn btn-primary' %>

